# 服務名稱
SERVICE_NAME=telegram

# RabbitMQ - Connection
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=job
RABBITMQ_CONN_MAX_RETRIES=5
RABBITMQ_CONN_MAX_ELAPSED_TIME=20s
# RabbitMQ - Topology
RABBITMQ_JOB_EXCHANGE=job.exchange
RABBITMQ_EXCHANGE_KIND=topic
RABBITMQ_TELEGRAM_QUEUE=telegram.queue
RABBITMQ_TELEGRAM_KEY=telegram.#
RABBITMQ_TOPOLOGY_MAX_RETRIES=3
RABBITMQ_TOPOLOGY_MAX_ELAPSED_TIME=20s
